.articleContent {
    margin-left: 300px;
    padding: 20px;
    width: 1500px;
}

.navTitle {
    font-size: 30px;
    border-bottom: 2px solid #333;
}

.navSubTitle {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

h1,
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.article {
    display: flex;
    padding-top: 50px;
}

.imgBlock {
    float: right;
    margin-left: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #333;
    background-color: rgb(255, 255, 255);
    height: 350px;
}

.imgTitle {
    text-align: center;
    font-size: 20px;
}

.imgSubTitle {
    text-align: center;
    font-size: 10px;
}

.contentIndex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeTitle {
    text-align: center;
    margin: 100px 0 0 100px;
    font-size: 70px;
}