.btns {
    display: flex;
}

.captchaBtnCheckOrUncheck {
    padding: 10px 20px 10px 20px;
    background-color: rgba(244, 244, 242, 1);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 40px;
    margin-top: 35px;
}

.captchaBtnCheckOrUncheck:hover {
    color: rgba(244, 244, 242, 1);
}

.captchaBtnCheckOrUncheck::after {
    color: black;
    background-color: rgba(244, 244, 242, 1);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
}

.captchaBtnCheck {
    color: #EE3939;
    border: #EE3939 2px solid;
}

.captchaBtnCheck:hover {
    background-color: #EE3939;
}

.captchaBtnCheck::after {
    content: "⨉";
}

.captchaBtnChecked {
    color: #29B95F;
    border: #29B95F 2px solid;
}

.captchaBtnChecked:hover {
    background-color: #29B95F;
}

.captchaBtnChecked::after {
    content: "✓";
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit {
    margin-top: 35px;
    border-radius: 20px;
}

.submitInactive {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #F4F4F2;
    margin-bottom: 60px;
    background-color: #c1c1c0;
    border: #c1c1c0 2px solid;
}

.submitActive {
    padding: 10px 20px 10px 20px;
    background-color: #8ca7e2;
    font-size: 20px;
    font-weight: bold;
    color: #F4F4F2;
    border: #8ca7e2 2px solid;
    margin-bottom: 60px;
    cursor: pointer;
    border-radius: 15px;
}

.submitActive, .submitActive::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
      
.submitActive {
    position: relative;
    z-index: 1;
}

.submitActive::before, .submitActive::after {
    border-radius: 8px;
    content: "";
    position: absolute;
    z-index: -1;
}

.submitActive::before, .submitActive::after {
    background: #F4F4F2;
    border-radius: 18px;
}

.submitActive:hover {
    color: #5F85DB;
}

.submitActive::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.submitActive:hover:after {
    width: 100%;
}

.filter::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.8);
    z-index: 5;
    height: 100%;
}