.breadcrumb {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20%;
}

.line {
    width: 455px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
}

.circle1 { 
    grid-area: 1 / 1 / 2 / 2; 
    place-self: end;
}

.circle2 { 
    grid-area: 1 / 2 / 2 / 3; 
    place-self: center;
}

.circle3 { 
    grid-area: 1 / 3 / 2 / 4; 
    place-self: start;
}

.circles {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;

    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}

.circles p {
    font-size: 40px;
}

.activeCircle {
    background-color: #5F85DB;
}

.activeCircle p {
    color: #F4F4F2;
}

.breadcrumbCircle {
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px;
}

.circles:hover {
    background-color: #5F85DB;
    outline-offset: 4px;
    outline-color: #5F85DB;
}

.circles:hover p {
    color: #F4F4F2;
    animation: shake .25s;
}

@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

.registerForm {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    border-top: #5F85DB 3px solid;
    border-left: #5F85DB 3px solid;
    border-right: #5F85DB 3px solid;
    border-radius: 30px 30px 0 0;
    width: 1000px;
    z-index: -4;
}

.formTitle {
    background-color: #F4F4F2;
    height: 80px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.formTitle h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
}

.alert {
    background-color: rgba(252,102,102,0.5);
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: -30px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: 860px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
{
    visibility: hidden;
}



.error input {
    outline: none;
    border: 2px solid #d94c42;
    box-shadow: 0 0 10px #f07d7d;
}

.inputForm, .selectForm {
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px 14px;
    transition: 0.4s;
    background: #F4F4F2;
}

.inputForm::-webkit-input-placeholder {
    opacity: 1;
    transition: all 0.5s;
}

.inputForm:focus::-webkit-input-placeholder {
    opacity: 0;
}

.inputForm:focus, .selectForm:focus {
    outline: none;
    border: 2px solid #5F85DB;
    box-shadow: 0 0 10px #719ECE;
}

.placeholderLabel {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.inputForm:focus ~ label {
    top: -20px;
    left: 0;
    font-size: 14px;
    color: #5F85DB;
    transition: 0.3s;
}

.completedCaptcha {
    display: none;
    width: 501px;
    height: 501px;
    border-radius: 20px;
}

.captcha p {
    background-color: #5F85DB;
    border-radius: 15px;
    padding: 5px 12px 5px 12px;
    margin-bottom: 10px;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border: 3px white solid;
}

.captcha {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captchaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 501px;
    height: 501px;
}

.captchaContainer img {
    width: 157px;
    height: 157px;
    margin: 5px;
}



#captchaBtn {
    background-color: #5F85DB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px white solid
}

.captchaBtnDisabled {
    background-color: #aaa !important;
    color: black !important;
    cursor: auto !important;
    border-color: black !important;
}

.captchaClose {
    display: none;
}