@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*-------------------normalize css------------------*/ 

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.tiny-ml {
    margin-left: 20px;
}

.tiny-mr {
    margin-right: 20px;
}

.tiny-mt {
    margin-top: 23px;
}

/*-----------------end of normalize css------------------*/
@font-face {
    font-family: 'GothamBook';
    src: url('../../fonts/GothamBook.otf') format('opentype');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../../fonts/GothamBold.ttf');
}

body{
    background-color: rgb(244, 244, 242);
    font-family: 'GothamBook';
}