@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');

/*-------------------normalize css------------------*/ 

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


/*-----------------end of normalize css------------------*/
@font-face {
    font-family: 'Gotham';
    src:  url('../../fonts/GothamBook.ttf"'),
          url('../../fonts/GothamBold.ttf') format('bold');
  }

body{
    background-color: rgba(244, 244, 242, 1);
    font-family: 'Gotham';
}