.pageBody {
    position: absolute;
    left: 17%;
    width: 83%;
}

.pageTitle {
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'Gotham';
    font-size: 40px;
}

.searchBar {
    border-radius: 10px;
    border: black solid 0.5px;
    text-indent: 10px;
    height: 32px;
    width: 85%;
}

.searchBar:focus {
    outline: none;
}

.pageBodyHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.userTable {
    margin-left: 25px;
    margin-top: 20px;
    width: 96%;
}

.userTableHeader {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: black 2px solid;
    position: relative;
}

.userTableHeader p {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userTableHeader .action {
    cursor: default;
}

.userTableHeader p::before {
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background:url('../../img/other/filter.png') no-repeat;
    background-size:100%;
    margin-right: 5px;
}

.userTableHeader .action::before, .userTableHeader .logo::before {
    display: none;
}

.userTableRow {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: black 1px solid;
}

.title, .description {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.logo {
    width: 7%;
}

.logo img {
    width: 80%;
}

.title {
    width: 13%;
}

.description {
    width: 50%;
    height: 100px;
}

.articles {
    width: 10%;
    font-size: 25px;
}

.action {
    width: 20%;
}

.userTableRow .action input {
    height: 33px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #EE3939;
    cursor: pointer;
    margin-right: 20px;
}

.userTableRow .action {
    display: flex;
}

.arrowChangePage {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowChangePage img {
    height: 20px;
}

.arrowChangePage p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.arrowChangePage input {
    position: absolute;
    height: 20px;
    margin-left: -3px;
    background: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
}

.margin {
    margin-left: 25px;
    margin-top: 20px;
}

.row {
    display: flex;
    position: relative;
    width: 100%;
}

.addCategory {
    background-color: #5F85DB;
    border: #5F85DB solid 2px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.addCategory:hover {
    border: 2px solid #5F85DB;
    background-color: white;
    color: #5F85DB;
}







.popup {
    background-color: #ECEBEB;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(45deg, #5F85DB, #EE3939) 1 round;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80%;
    width: 30%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

.popupTitle {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    margin-top: 20px;
    text-decoration-color: #5F85DB;
    text-decoration-line: underline;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoPopup {
    width: 40%;
}

.titlePopup {
    width: 60%;
}

.logoPopup .labelPlus {
    cursor: pointer;
    background-color: #5F85DB;
    color: white;
    padding: 0px 15px 0px 15px;
    font-size: 35px;
    border-radius: 15px;
    margin-top: 10px;
}

.fileInput {
    display: none;
}

.textInput {
    border-radius: 15px;
    border: none;
    height: 35px;
    text-indent: 5px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}

.inputColumn label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputColumn textarea {
    border-radius: 15px;
    margin-top: 10px;
    border: none;
    width: 150%;
    height: 250px;
    resize: none;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.inputColumn input:focus, .inputColumn textarea:focus {
    box-shadow: 0 0 10px #719ECE;
    outline: none;
}

.condition {
    font-size: 15px;
}

.sendBtn button {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #719ECE;
    outline: none;
    border: none;
    color: #ECEBEB;
    border-radius: 20px;
    width: 25%;
    height: 7%;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}

.popupClose {
    display: none;
}