.contentBody {
    margin-top: 10px;
    margin-left: 25px;
    position: absolute;
    left: 17%;
    width: calc(83% - 25px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pageTitle {
    font-family: 'Gotham';
    font-size: 40px;
}

.pageBodyHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dashboardCardsWrapper {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.tinyContainer {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.dashboardCard {
    width: 17.5vw;
    height: 17.5vw;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dashboardContainer {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.dashboardGraphWrapper {
    display: flex;
    flex-direction: column;
    width: 48%;

}

.dashboardCardGraph {
    width: 100%;
    height: 310px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dashboardCardList {
    width: 48%;
    height: 730px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 40px;
}

.dashboardCardListTitle{
    font-size: 32px;
    margin: 15px 0px 30px 0px;
    text-align: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.cardTitle {
    position: absolute;
    top: 15px;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}

.cardNumber {
    font-size: 110px;
    font-weight: bold;
}

.cardNumber.articles {
    color: #29B95F;
}

.cardNumber.reports {
    color: #EE3939;
}

.cardNumber.newArticles {
    color: #5F85DB;
}

.cardNumber.deleteArticles {
    color: #EE3939;
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.graphTitle {
    font-family: 'Gotham';
    font-size: 1.8vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profilPseudo {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profilDate {
    color: #5F85DB;
    width: 30%;
    text-align: end;
    font-size: 90%;
}

.profilColumn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 70%;
}

.profilColumn img {
    height: 80%;
    width: auto;
    margin-right: 15px;
}

.userRow {
    position: relative;
    display: flex;
    padding: 0 15px 0 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 60px;
}