form {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

.inputForm, .selectForm {
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px 14px;
    width: 420px;
    transition: 0.4s;
    background: #F4F4F2;
}

.inputForm::-webkit-input-placeholder {
    opacity: 1;
    transition: all 0.5s;
}

.inputForm:focus::-webkit-input-placeholder {
    opacity: 0;
}

.inputForm:focus, .selectForm:focus {
    outline: none;
    border: 2px solid #5F85DB;
    box-shadow: 0 0 10px #719ECE;
}

label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.inputForm:focus ~ label {
    top: -20px;
    left: 0;
    font-size: 14px;
    color: #5F85DB;
    transition: 0.3s;
}

.firstname {
    grid-area: 1 / 1 / 2 / 4;
    place-self: center;
}

.lastname {
    grid-area: 1 / 4 / 2 / 7;
    place-self: center;
}

.email {
    margin-top: 35px;
    grid-area: 2 / 1 / 3 / 7;
    place-self: center;
}

.email .inputForm {
    width: 860px;
}

.country {
    margin-top: 35px;
    grid-area: 3 / 1 / 4 / 2;
    place-self: end;
}

.country .selectForm {
    width: 137px;
    height: 42px;
    border-radius: 5px 0 0 5px;
}

.tel {
    margin-top: 35px;
    grid-area: 3 / 2 / 4 / 7;
    place-self: start;
}

.tel .inputForm {
    width: 725px;
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
}

.pwd {
    margin-top: 35px;
    grid-area: 4 / 1 / 5 / 4;
    place-self: center;
}

.pwdConfirm {
    margin-top: 35px;
    grid-area: 4 / 4 / 5 / 7;
    place-self: center;
}

.submit {
    margin-top: 50px;
    grid-area: 5 / 3 / 6 / 5;
    place-self: center;
    border-radius: 20px;
}

.submit button {
    padding: 10px 20px 10px 20px;
    background-color: #8ca7e2;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #F4F4F2;
    border: #8ca7e2 2px solid;
}

.submit button, .submit button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
      
.submit button {
    position: relative;
    z-index: 1;
}

.submit button::before, .submit button::after {
    border-radius: 8px;
    content: "";
    position: absolute;
    z-index: -1;
}

.submit button::before, .submit button::after {
    background: #F4F4F2;
    border-radius: 12px;
}

.submit button:hover {
    color: #5F85DB;
}

.submit button::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.submit button:hover:after {
    width: 100%;
}

.field {
    position: relative;
}