form {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email .inputForm {
    width: 914px;
}

.email {
    position: relative;
}

.email .placeholderLabel {
    position: absolute;
}

.submit {
    margin-top: 35px;
    border-radius: 20px;
}
.submit :hover{
    cursor: pointer;
}

.loginForm {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    border: #5F85DB 3px solid;
    border-radius: 30px;
    width: 1000px;
    z-index: -4;
}

.placeholderLabel {
    position: relative;
}

.mt {
    margin-top: 40px;
}

.formTitle {
    width: 600px;
}

.formTitle h1 {
    margin-top: 80px;
}

.alert {
    width: 914px;
}

.text {
    margin-bottom: 30px;
    text-align: center;
}